# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target
.project
.classpath
**/*.pdf
**/generated_images
**/.vagrant

vagrant/log/**/*
vagrant/topology.json

book/stem-*.png
book/images/stem-*.png

lab/data/*

.idea


**/.ipynb_checkpoints

**/*.box                

src/main/jupyter/data/**